{
  "presets": [
    "latest",
    ["env", {
      "targets": {
        "browsers": [
          "> 5%",
          "last 2 versions"
        ]
      }
    }],
    "flow"
  ],
  "plugins": ["transform-runtime"]
}
