{
  "extends": ["standard", "plugin:flowtype/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "prefer-const": 2,
    "padded-blocks": 0,
    "flowtype/no-types-missing-file-annotation": 1
  },
  "plugins": ["flowtype"]
}
